{% extends 'view_base.html' %}

{% block viewTitle %}Employment Type{% endblock %}

{% block script %}
<style>
  .searchBtn{
    visibility: hidden !important;
  }
</style>
{% endblock %}

{% block addBtn %}
  <a href="{% url 'create-employmentType' %}?next={{ request.path }}" class="btn btn-info">Add Employment Type</a>
{% endblock %}

{% block columns %}
  {% if flags %}
    {% block form %}
      <form action="{% url 'delete-employmentType'%}" method="POST">{% csrf_token %}
    {% endblock %}

    <th></th>
    <th>ID</th>
    <th>Employment Type</th>
    <th>Description</th>
  {% endif %}
{% endblock %}
            
{% block tbodyContent %}
  {% if not flags %}
  <h3>No Employment Type</h3>
  {% else %}
    {% for employmentType  in employmentTypes %}
      <tr>
        <td><input type="checkbox" name="selected" value="{{ employmentType.id }}"></td>

        <td><a href="{% url 'edit-employmentType' employmentType.id %}?next={{ request.path }}">{{ employmentType.id }}</a></td>
        <td>{{ employmentType.name}}</td>
        <td>{{ employmentType.description|slice:"0:100" }}{% if employmentType.description|length > 100 %}...{% endif %}</td>
      </tr>
    {% endfor %}
  {% endif %}
{% endblock %}

 