{% extends 'restaurant/base.html' %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block page %}

  <div class="row">
    <div class="col-lg-8">
      <!-- Revenue by week -->
      <div class="card">
        <div class="card-header bg-blue">
          <h4 class="card-title text-center text-white">
            Revenue by week
          </h4>
        </div>
        <div class="card-body">
          <canvas id="revenueChart" height="110">

          </canvas>
          <script>
            var ctx = document.getElementById("revenueChart").getContext("2d");
            var data = {
              labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
              datasets: [
                {
                  label: "Revenue by week",
                  backgroundColor: "rgba(54, 162, 235, 0.9",
                  hoverBackgroundColor: "rgba(54, 162, 235, 1",
                  data: {{ revenue }}
                }
              ]
            };

            new Chart(ctx, {
              type: 'bar',
              data: data
            })
          </script>
        </div>
      </div>

      <br>
      <!-- Orders by week -->

      <div class="card">
        <div class="card-header bg-blue">
          <h4 class="card-title text-center text-white">
            Order by week
          </h4>
        </div>
        <div class="card-body">
          <canvas id="orderChart" height="110">

          </canvas>
          <script>
            var ctx = document.getElementById("orderChart").getContext("2d");
            var data = {
              labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
              datasets: [
                {
                  label: "Revenue by week",
                  backgroundColor: "rgba(255, 99, 132, 0.9",
                  hoverBackgroundColor: "rgba(255, 99, 132, 1",
                  data: {{ orders }}
                }
              ]
            };

            new Chart(ctx, {
              type: 'bar',
              data: data
            })
          </script>
        </div>
      </div>
    
    </div>
    <!-- Top meals -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header bg-blue">
          <h4 class="card-title text-center text-white">
            Top 3 Meals
          </h4>
        </div>
        <div class="card-body">
          <canvas id="topMealChart" height="247">

          </canvas>
          <script>
            var ctx = document.getElementById("topMealChart").getContext("2d");
            var data = {
              labels: {{ meal.labels|safe}},
              datasets: [
                {
                  backgroundColor: [
                    "#36A2EB", "#FFCE56", "#FF6384"
                  ],
                  data: {{ meal.data }}
                }
              ]
            };

            new Chart(ctx, {
              type: 'pie',
              data: data
            })
          </script>
        </div>
      </div>

      <br>
      <!-- All Time Top 3 driver  -->
      <div class="card">
        <div class="card-header bg-blue">
          <h4 class="card-title text-center text-white">
            Top 3 Drivers
          </h4>
        </div>
        <div class="card-body">
          <canvas id="topDriverChart" height="247">

          </canvas>
          <script>
            var ctx = document.getElementById("topDriverChart").getContext("2d");
            var data = {
              labels: {{ driver.labels|safe}},
              datasets: [
                {
                  backgroundColor: [
                    "#36A2EB", "#FFCE56", "#FF6384"
                  ],
                  data: {{ driver.data }}
                }
              ]
            };

            new Chart(ctx, {
              type: 'pie',
              data: data
            })
          </script>
        </div>
      </div>
    </div>
  </div>

{% endblock %}