{% extends 'view_base.html' %}

{% load static %}

{% block viewTitle %}Process of Order {{ order.code|capfirst }}{% endblock %}

{% block addBtn %}
  <a href="{% url 'create-process' order.id%}?next={{ request.path }}" class="btn btn-info">Add Process</a>
{% endblock %}

{% load customtags %}

{% block columns %}
  {% if flags %}
    {% block form %}
      <form action="{% url 'delete-process'%}" method="POST">{% csrf_token %}
    {% endblock %}
    <th></th>

    <th>ID</th>
    <th>ID | Order Code</th>
    <th>Process Name</th>
    <th>Piece rate</th>
    <th>Quantity</th>
    <th>Description</th>
  {% endif %}           
{% endblock %}

{% block tbodyContent %}
  {% if not flags %}
    <h3>No process</h3>
    {% else %} 
      {% for process in processes %}
        <tr>
          <td><input type="checkbox" name="selected" value="{{ process.id }}"></td>

          <td scope="row"><a href="{% url 'edit-process' process.id %}?next={{ request.path }}">{{ process.id }}</a></td>
          <td><a href="{% url 'edit-order' process.orderID|escape|getID %}?next={{ request.path }}">{{ process.orderID }}</a></td>
          <td>{{ process.name }}</td>
          <td>{{ process.price }}</td>
          <td>{{ process.quantity }}</td>
          <td>{{ process.description }}</td>
          </td>
        </tr>
      {% endfor %} 
  {% endif %}
{% endblock %}


