{% extends 'view_base.html' %}

{% load customtags %}
{% load humanize %}
{% load bootstrap4 %}

{% block viewTitle %}Process{% endblock %}

{% block addBtn %}
  {% if orderFlag %}
    <a href="{% url 'create-process' %}?next={{ request.path }}" class="btn btn-info">Add Process</a>
  {% else %}
    <a href="{% url 'create-order' %}" class="btn btn-info">Add Order</a>
  {% endif %}

{% endblock %}

{% block searchForm %}
  <form method="GET" class="searchForm">
    {% bootstrap_form myFilter.form %}
    <button class="btn btn-primary col-lg-12">Search</button>
  </form>
{% endblock %}

{% block columns %}
  {% if flags %}
    {% block form %}
      <form action="{% url 'delete-process'%}?next={{ request.path }}" method="POST">{% csrf_token %}
    {% endblock %}

    <th></th>
    <th>ID</th>
    <th>ID | Order Code</th>
    <th>Process Name</th>
    <th>Payment/unit</th>
    <th>Quantity</th>
    <th>Description</th>
  {% endif %}
{% endblock %}

{% block tbodyContent %}
  {% if not flags %}
  <h3>No Process</h3>
  {% else %}
    {% for process in processes %}
      <tr>
        <td><input type="checkbox" name="selected" value="{{ process.id }}"></td>

        <td scope="row"><a href="{% url 'edit-process' process.id %}?next={{ request.path }}">{{ process.id }}</a></td>
        <td>{% if process.orderID %}
            <a href="{% url 'process-of-order' process.orderID|escape|getID %}">{{ process.orderID }}</a>
          {% else %}
            {{ process.orderID }}
          {% endif %}</td>
        <td>{{ process.name }}</td>
        <td>{{ process.price|intcomma }}</td>
        <td>{{ process.quantity|intcomma }}</td>
        <td>{{ process.description|slice:"0:15" }}{% if process.description|length > 15 %}...{% endif %}</td>
      </tr>
    {% endfor %}
  {% endif %}    
{% endblock %}
