{% extends 'view_base.html' %}

{% load customtags %}
{% load humanize %}

{% block script %}
<style>
  .searchBtn{
    visibility: hidden !important;
  }
</style>
{% endblock %}

{% block viewTitle %}Daily Salary{% endblock %}
{% block addBtn %}
<a href="{% url 'create-dailySalary' %}" class="btn btn-info">Add Daily Salary</a>

{% endblock %}

{% block columns %}
  {% if flags %}
  {% block form %}
    <form action="{% url 'delete-dailySalary'%}?next={{ request.path }}" method="POST">{% csrf_token %}
  {% endblock %}

    <th></th>
    <th>ID</th>
    <th>ID | Employee</th>
    <th>Daily Salary</th>
    <th>Notes</th>
    <th>Last Modified</th>
  {% endif %}
{% endblock %}



{% block tbodyContent %}
  {% if not flags %}
  <h3>No Salary Record</h3>
  {% else %}
    {% for dailySalary  in dailySalaries %}
      <tr>
        <td><input type="checkbox" name="selected" value="{{ dailySalary.id }}" id="enableDeleteBtn"></td>

        <td><a href="{% url 'edit-dailySalary' dailySalary.id %}">{{ dailySalary.id }}</a></td>
        <td><a href="{% url 'edit-employee' dailySalary.employeeID|escape|getID %}?next={{ request.path }}">{{ dailySalary.employeeID }}</a></td>
        <td>{{ dailySalary.dailySalary|intcomma }}</td> 
        <td>{{ dailySalary.notes|slice:"0:37" }}{% if dailySalary.notes|length > 37 %}...{% endif %}</td>
        <td>{{ dailySalary.lastModified }}</td>
      </tr>
    {% endfor %}
  {% endif %}
{% endblock %}