{% extends 'view_base.html' %}
{% load customtags %}

{% block viewTitle %}Employee{% endblock %}
{% block addBtn %}
<a href="{% url 'create-salary' %}" class="btn btn-info">Add Salary</a>

{% endblock %}

{% block columns %}
  {% if flags %}
  {% block form %}
    <form action="{% url 'delete-salary'%}?next={{ request.path }}" method="POST">{% csrf_token %}
  {% endblock %}

    <th></th>
    <th>ID</th>
    <th>ID | Employee</th>
    <th>Daily Salary</th>
    <th>Notes</th>
    <th>Last Modified</th>
  {% endif %}
{% endblock %}



{% block tbodyContent %}
  {% if not flags %}
  <h3>No Salary Record</h3>
  {% else %}
    {% for salary  in salaries %}
      <tr>
        <td><input type="checkbox" name="selected" value="{{ salary.id }}" id="enableDeleteBtn"></td>

        <td><a href="{% url 'edit-salary' salary.id %}">{{ salary.id }}</a></td>
        <td><a href="{% url 'edit-employee' salary.employeeID|escape|getID %}?next={{ request.path }}">{{ salary.employeeID }}</a></td>
        <td>{{ salary.salary }}</td> 
        <td>{{ salary.notes|slice:"0:37" }}{% if salary.notes|length > 37 %}...{% endif %}</td>
        <td>{{ salary.lastModified }}</td>
      </tr>
    {% endfor %}
  {% endif %}
{% endblock %}
        
            <!-- <td>
              {% if order.status == 1 %}
                <form action="" method="POST">
                  {% csrf_token %}
                  <input name="id" value="{{ order.id }}" hidden>
                  <button class="btn btn-success">Ready</button>

                </form>
              {% endif %}
              {% if order.status == 2 %}
                <form action="" method="POST">
                  {% csrf_token %}
                  <input name="id" value="{{ order.id }}" hidden>
                  <button class="btn btn-success">On the way</button>

                </form>
              {% endif %}
              {% if order.status == 3 %}
                <form action="" method="POST">
                  {% csrf_token %}
                  <input name="id" value="{{ order.id }}" hidden>
                  <button class="btn btn-success">Delivered</button>

                </form>
              {% endif %}
              {% if order.status == 4 %}
                <form action="" method="POST">
                  {% csrf_token %}
                  <input name="id" value="{{ order.id }}" hidden>
                  <button class="btn btn-danger">Cooking</button>

                </form>
              {% endif %} -->
 