{% extends 'view_base.html' %}

{% load static %}
{% load humanize %}

{% block viewTitle %}Attendance Record of {{ employee.firstName|capfirst }} {% if employee.lastName %}{{ employee.lastName|capfirst }}{% endif %}{% endblock %}

{% block addBtn %}
  <a href="{% url 'create-attendance-employee' employee.id %}?next={{ request.path }}" class="btn btn-info">Input Attendance</a>
{% endblock %}


{% block columns %}
  {% if flags %}
    {% block form %}
      <form action="{% url 'delete-attendance'%}?next={{ request.path }}" method="POST">{% csrf_token %}
    {% endblock %}
    <th></th>
    <th>ID</th>
    <th>Date</th>
    <!-- <th>ID | Employee</th> -->
    <th>Attendance</th>
  {% endif %}           
{% endblock %}

{% block tbodyContent %}
  {% if not flags %}
    <h3>No Attendance Record</h3>
    {% else %} 
      {% for attendance in attendances %}
        <tr>
          <td><input type="checkbox" name="selected" value="{{ attendance.id }}"></td>

          <td scope="row"><a href="{% url 'edit-attendance' attendance.id %}?next={{ request.path }}">{{ attendance.id }}</a></td>
          <td>{{ attendance.date }}</td>
          <!-- <td>{{ attendance.employeeID }}</td> -->
          <td>{{ attendance.percentage }}%</td>
        </tr>
      {% endfor %} 
  {% endif %}
{% endblock %}


