{% extends 'view_base.html' %}

{% load static %}
{% load humanize %}
{% load bootstrap4 %}

{% block viewTitle %}Completed Process of {{ employee.firstName|capfirst }} {% if employee.lastName %}{{ employee.lastName|capfirst }}{% endif %}{% endblock %}

{% block addBtn %}
  <a href="{% url 'create-completedProcess-employee' employee.id %}?next={{ request.path }}" class="btn btn-info">Add Completed Process</a>
{% endblock %}

{% block searchForm %}
  <form method="GET" class="searchForm">
    {% bootstrap_form myFilter.form %}
    <button class="btn btn-primary col-lg-12">Search</button>
  </form>
{% endblock %}

{% block columns %}
  {% if flags %}
    {% block form %}
      <form action="{% url 'delete-completedProcess'%}?next={{ request.path }}" method="POST">{% csrf_token %}
    {% endblock %}
    <th></th>
    <th>ID</th>
    <th>ID | Process Name</th>
    <th>Quantity</th>
    <th>Date Recorded</th>
  {% endif %}           
{% endblock %}

{% block tbodyContent %}
  {% if not flags %}
    <h3>No Completed Process</h3>
    {% else %} 
      {% for completedProcess in completedProcesses %}
        <tr>
          <td><input type="checkbox" name="selected" value="{{ completedProcess.id }}"></td>

          <td scope="row"><a href="{% url 'edit-completedProcess' completedProcess.id %}?next={{ request.path }}">{{ completedProcess.id }}</a></td>
          <td>{{ completedProcess.processID }}</td>
          <td>{{ completedProcess.quantity|intcomma }}</td>
          <td>{{ completedProcess.dateRecorded  }}</td>
          
        </tr>
      {% endfor %} 
  {% endif %}
{% endblock %}


