{% extends 'view_base.html' %}

{% load static %}
{% load customtags %}
{% load humanize %}
{% load bootstrap4 %}

{% block viewTitle %}Completed Process of Process {{ process.name|capfirst }} (Qty:{{ process.quantity }}){% endblock %}

{% block addBtn %}
  <a href="{% url 'create-completedProcess' process.id %}?next={{ request.path }}" class="btn btn-info">Add Completed Process</a>
{% endblock %}


{% block searchForm %}
  <form method="GET" class="searchForm">
    {% bootstrap_form myFilter.form %}
    <button class="btn btn-primary col-lg-12">Search</button>
  </form>
{% endblock %}

{% block columns %}
<h3>Total Completed Process Qty: {{ completedQty }} out of {{ process.quantity }}</h3>
  {% if flags %}
    {% block form %}
      
      <form action="{% url 'delete-completedProcess'%}?next={{ request.path }}" method="POST">{% csrf_token %}
    {% endblock %}
    <th></th>

    <th>ID</th>
    <th>ID | Process Name</th>
    <th>ID | Employee Name</th>
    <th>Quantity</th>
    <th>Date Recorded</th>
  {% endif %}           
{% endblock %}

{% block tbodyContent %}
  {% if not flags %}
    <h3>No Completed Process</h3>
    {% else %} 
      {% for completedProcess in completedProcesses %}
        <tr>
          <td><input type="checkbox" name="selected" value="{{ completedProcess.id }}"></td>

          <td scope="row"><a href="{% url 'edit-completedProcess' completedProcess.id %}?next={{ request.path }}">{{ completedProcess.id }}</a></td>
          <td><a href="{% url 'edit-process' completedProcess.processID|escape|getID %}?next={{ request.path }}">{{ completedProcess.processID }}</a></td>
          <td>{{ completedProcess.employeeID }}</td>
          <td>{{ completedProcess.quantity|intcomma }}</td>
          <td>{{ completedProcess.dateRecorded  }}</td>
          
        </tr>
      {% endfor %} 
  {% endif %}
{% endblock %}


