{% extends 'view_base.html' %}

{% load static %}
{% load humanize %}
{% load bootstrap4 %}

{% block script %}
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script>
  $(document).ready(function() {
      $('.datepicker').datepicker({dateFormat: 'yy-mm-dd'});

  });
  </script>
{% endblock %}

{% block viewTitle %}Order{% endblock %}
{% block addBtn %}<a href="{% url 'create-order' %}" class="btn btn-info">Add Order</a>{% endblock %}

{% block searchForm %}
    <form method="GET" class="searchForm">
      {% bootstrap_form myFilter.form layout='inline' %}
      <button class="btn btn-primary" style="height: max-content;">Search</button>
    </form>
{% endblock %}

{% block columns %}
  {% if flags %}
    {% block form %}
      <form action="{% url 'delete-order'%}?next={{ request.path }}" method="POST">{% csrf_token %}
    {% endblock %}

    <th></th>
    <th>ID</th>
    <th>Order Code</th>
    <th>Order Name</th>
    <th>Quantity</th>
    <th>Description</th>
    <th>Date Created</th>
    <th>Last Modified</th>
    <th>Action</th>
  {% endif %}
{% endblock %}
            
{% block tbodyContent %}
  {% if not flags %}
    <h3>No Order</h3>
  {% else %}

    {% for order  in orders %}

      <tr>
        <td><input type="checkbox" name="selected" value="{{ order.id }}"></td>

        <td scope="row"><a href="{% url 'edit-order' order.id %}?next={{ request.path }}">{{ order.id }}</a></td>
        <td>{{ order.code }}</td>
        <td>{{ order.name }}</td>
        <td>{{ order.quantity|intcomma }}</td>
        <td>{{ order.description|slice:"0:50" }}{% if order.description|length > 50 %}...{% endif %}</td>
        <td>{{ order.dateCreated }}</td>
        <td>{{ order.lastModified }}</td>
        <td><a href="{% url 'process-of-order' order.id%}" class="btn btn-warning">View Process</a></td>
      </tr>

    {% endfor %}
    
  {% endif %}
{% endblock %}